@model PayrollAccountingApp.Models.DeductionType
@{ ViewData["Title"]="Editar Tipo de Deducción"; Layout="~/Views/Shared/_Layout.cshtml"; }
<h3>Editar Tipo de Deducción</h3>
<form method="post">
@Html.HiddenFor(m=>m.Id)
<div class="row g-2">
<div class="col-md-6"><label>Nombre</label><input asp-for="Nombre" class="form-control" /></div>
<div class="col-md-3"><label>Depende de Salario</label><input asp-for="DependeDeSalario" type="checkbox" class="form-check-input" /></div>
<div class="col-md-3"><label>Activo</label><input asp-for="Activo" type="checkbox" class="form-check-input" /></div>
<div class="col-md-4"><label>Cuenta Debe</label><input asp-for="CuentaDebe" class="form-control" /></div>
<div class="col-md-4"><label>Cuenta Haber</label><input asp-for="CuentaHaber" class="form-control" /></div>
</div>
<button class="btn btn-primary mt-2">Guardar</button>
<a class="btn btn-secondary mt-2" href="/DeductionTypes">Cancelar</a>
</form>
