@model PayrollAccountingApp.Models.PayrollTransaction
@using PayrollAccountingApp.Models
@{ ViewData["Title"]="Editar Transacci贸n"; Layout="~/Views/Shared/_Layout.cshtml"; }
<h3>Editar Transacci贸n</h3>
<form method="post">
@Html.HiddenFor(m=>m.Id)
<div class="row g-2">
<div class="col-md-4"><label>Empleado</label><select asp-for="EmpleadoId" class="form-select" asp-items="ViewBag.Employees"></select></div>
<div class="col-md-3"><label>Tipo de Transacci贸n</label><select asp-for="TipoTransaccion" class="form-select">@foreach (var v in Enum.GetValues(typeof(TransactionKind))){<option value="@v" selected="@(Model.TipoTransaccion== (TransactionKind)v)">@v</option>}</select></div>
<div class="col-md-3"><label>Fecha</label><input asp-for="Fecha" type="date" class="form-control" /></div>
<div class="col-md-3"><label>Monto</label><input asp-for="Monto" class="form-control" /></div>
<div class="col-md-6"><label>Tipo de Ingreso</label><select asp-for="IngresoTipoId" class="form-select" asp-items="ViewBag.IncomeTypes"></select></div>
<div class="col-md-6"><label>Tipo de Deducci贸n</label><select asp-for="DeduccionTipoId" class="form-select" asp-items="ViewBag.DeductionTypes"></select></div>
</div>
<button class="btn btn-primary mt-2">Guardar</button>
<a class="btn btn-secondary mt-2" href="/PayrollTransactions">Cancelar</a>
</form>
